@using RealEstateApp.Core.Application.ViewModels.Users;
@{
    ViewData["Title"] = "Agentes";
}

<div class="row mt-3">
    <div class="col col-8 mx-auto">
        <div class="card mb-3 border border-2 border-dark">
            <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.inmobiliariasuperfacil.es/wp-content/uploads/2020/01/inmobiliaria.jpg" class="d-block w-100 mx-auto" alt="inmbiliaria">
                    </div>
                    <div class="carousel-item ">
                        <img src="https://img.freepik.com/foto-gratis/retrato-agente-inmobiliaria-mirando-camara-mientras-pareja-feliz-pie-fondo_637285-6097.jpg?w=2000" class="d-block w-75 mx-auto" alt="inmbiliaria">
                    </div>
                    <div class="carousel-item ">
                        <img src="https://img.freepik.com/fotos-premium/propietario-desbloquea-llave-casa-nuevo-hogar-agentes-inmobiliarios-agentes-ventas_112699-358.jpg?w=2000" class="d-block w-75 mx-auto" alt="inmbiliaria">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col col-12 form-control bg-light shadow ">
        <form method="post" asp-controller="Agent" asp-action="Index">
            <div class="col-6 mb-3 p-3 me-1">
                <label for="AgentName" class="form-label">Nombre del agente</label>
                <input name="fullname" type="text" class="form-text" id="AgentName">
            </div>
        </form>
        <div class="row m-3">
            @if (ViewBag.Agents.Count == 0)
            {
                <div class="col-6 offset-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <h2 class="text-center">NO HAY AGENTES DISPONIBLE</h2>
                                <div class="text-center ">
                                    <p>No se han encontrado agentes disponibles en nuestros registros.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {

                @foreach (UserVM item in ViewBag.Agents)
                {
                    <div class="col col-4">
                        <a class="text-decoration-none text-dark" type="button" asp-controller="Agent" asp-action="Details" asp-route-id="@item.Id">
                            <div class="card m-1" style="width: 18rem;">
                                <img src="@item.PhotoProfileUrl" class="card-img-top" style="width:100%" alt="PhotoPrile">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Firstname @item.Lastname</h5>
                                    <p class="card-subtitle fs-6 fw-bolder"> Numero de telefono</p>
                                    <small>@item.PhoneNumber</small>
                                    <p class="card-subtitle fs-6 fw-bolder">Correo Eletronico </p>
                                    <small> @item.Email</small>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>