@{
    ViewData["Title"] = "Propiedades";
}
<div class="row">
    <div class="col d-flex">
        <div class="col-6 mt-1">
            <h5 class="fs-5"> Mantenimiento Propiedades <i class="fa-solid fa-hotel"></i></h5>
        </div>
        <div class="col-6 text-end">
            <a type="button" asp-controller="RAgent" asp-action="Create" class="btn btn-sm btn-success"> Crear una nueva propiedad <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
    <hr class="m-3" />
    @if (ViewBag.Properties.Count == 0)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p>No haz creado ninguna propiedad todavia</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else
    {
        @foreach (var item in ViewBag.Properties)
        {
            <div class="col-4 ">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" type="button" class="w-100 text-decoration-none text-dark mb-2" style="text-decoration:none">
                    <div class="card" style="width: 16rem;">
                        @{
                            Random random = new Random();

                            int photo = random.Next(0, (item.UrlPhotos.Count - 1));
                        }
                        <img src="@item.UrlPhotos[photo].ImagUrl" class="card-img-top" alt="Imagen Terreno">
                        <div class="card-body">
                            <div class="d-flex">
                                <small class="card-title fw-bolder fs-5">
                                    @item.TypeProperty.Name
                                </small>
                            </div>
                            <small class="text-center text-capitalize fw-bolder text-muted mb-2 ">@item.Location</small>
                            <br />
                            <small class="card-subtitle text-dark fs-6">
                                Codigo
                            </small>
                            <br />
                            <small class="text-center text-capitalize fw-bolder  ">@item.Code</small>
                            <br />
                            <small class="card-subtitle text-dark fs-6">
                                @item.TypeSale.Name
                            </small>
                            <br />
                            <small class="text-center text-capitalize fw-bolder text-danger ">RD$ @item.Price  - US$ @(item.Price / 54 ) </small>
                            <br />
                            <hr clas />
                            <small class="fs-6 d-flex justify-content-evenly">

                                @if (item.Bathroom != 0)
                                {
                                    <div class="me-2"><i class="fa-solid fa-hot-tub-person"></i> @item.Bathroom</div>
                                }

                                @if (item.Room != 0)
                                {
                                    <div class="me-2"><i class="fa-solid fa-bed"></i> @item.Room</div>
                                }
                                <div class="me-2"><i class="fa-solid fa-building"></i> @(item.Meters)mt</div>
                            </small>
                            <hr />
                            <div class="d-flex gap-3">
                                <a type="button" asp-controller="RAgent" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                    Eliminar
                                </a>
                                <a type="button" asp-controller="RAgent" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning text-light">
                                    Editar
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                            }
                            }
    </div>