@using RealEstateApp.Core.Application.ViewModels.Property;
@using RealEstateApp.Core.Application.ViewModels.TypeProperty;

@{
    ViewData["Title"] = "Home";
}


<div class="container-fluid">
    <form asp-controller="Home" asp-action="PropertysByFilter">
        <div class=" row">
            <div class="col-12">
                <div class="input-group ">
                    <input name="code" type="text" class="form-control text-secondary " placeholder="Escriba el codigo de la propiedad que busca" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Seleccionar por tipo de propiedad
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li class="dropdown-item">
                            <input class="form-check-input" value="0" checked type="checkbox" name="IdTypeProperty" id="TypeProperty" />
                            <label class="form-check-label" for="TypeProperty">Todas</label>
                        </li>
                        @foreach (TypePropertyViewModel item in ViewBag.TypeProperties)
                        {
                            <li class="dropdown-item">
                                <input class="form-check-input" value="@item.Id" type="checkbox" name="IdTypeProperty" id="TypeProperty@(item.Id)" />
                                <label class="form-check-label" for="TypeProperty@(item.Id)">@item.Name</label>
                            </li>
                        }
                    </ul>
                    <button class="btn btn-primary" type="submit" id="button-addon2">Buscar</button>
                </div>
            </div>
            <div class="col-11 bg-secondary p-4 d-flex my-3 text-center justify-content-center ms-4 mt-0">
                <select class="form-select-sm m-2" name="MinRooms">
                    <option selected value="0">Minimo de habitaciones</option>
                    @for (int i = 1; i < 6; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>

                <select class="form-select-sm m-2" name="MaxRooms">
                    <option selected value="0">Maximo de habitaciones</option>
                    @for (int i = 1; i < 6; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>

                <select class="form-select-sm m-2" name="MinBathRooms">
                    <option selected value="0">Minimo de Baños</option>
                    @for (int i = 1; i < 5; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>

                <select class="form-select-sm m-2" name="MaxBathRooms">
                    <option selected value="0">Maximo Baños</option>
                    @for (int i = 1; i < 5; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>

                <select class="form-select-sm m-2" name="MinPrince">
                    <option selected value="0">Precio Minimo</option>
                    @for (int i = 1000000; i <= 1280000000; i += i)
                    {
                        <option value="@i">RD$ @i</option>
                    }
                </select>

                <select class="form-select-sm m-2" name="MaxPrice">
                    <option selected value="0">Precio Maximo</option>
                    @for (int i = 1000000; i <= 1280000000; i += i)
                    {
                        <option value="@i">RD$ @i</option>
                    }

                </select>
            </div>
        </div>       
    </form>

    @if (ViewBag.Properties.Count != 0 || ViewBag.Properties == null)
    {
        <div class=" m-1 row mt-3">
            @foreach (PropertyViewModel item in ViewBag.Properties)
            {
                <div class="col-4 ">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" type="button" class="w-100 text-decoration-none text-dark mb-2" style="text-decoration:none">
                        <div class="card" style="width: 16rem;">
                            @{ 
                                Random random = new Random();

                                int photo = random.Next(0,(item.UrlPhotos.Count - 1));
                            }
                            <img src="@item.UrlPhotos[photo].ImagUrl" class="card-img-top" alt="Imagen Terreno">
                            <div class="card-body">
                                <div class="d-flex">
                                    <small class="card-title fw-bolder fs-5">
                                        @item.TypeProperty.Name
                                    </small>
                                        @if (item.IsFavorite)
                                        {
                                            <a type="button" asp-controller="Client" asp-action="EstatusFavorite" asp-route-id="@item.Id" class="mt-1"><i class="fa-solid fa-star text-warning bg-transparent"></i></a>
                                        }
                                        else
                                        {
                                            <a type="button" asp-controller="Client" asp-action="EstatusFavorite" asp-route-id="@item.Id" class="mt-1"><i class="fa-solid fa-star text-black bg-transparent"></i></a>
                                        }
                                </div>
                                <small class="text-center text-capitalize fw-bolder text-muted mb-2 ">@item.Location</small>
                                <br />
                                <small class="card-subtitle text-dark fs-6">
                                    Codigo
                                </small>
                                <br />
                                <small class="text-center text-capitalize fw-bolder  ">@item.Code</small>
                                <br />
                                <small class="card-subtitle text-dark fs-6">
                                    @item.TypeSale.Name
                                </small>
                                <br />
                                <small class="text-center text-capitalize fw-bolder text-danger ">RD$ @item.Price  - US$ @(item.Price / 54 ) </small>
                                <br />
                                <hr clas />
                                <small class="fs-6 d-flex justify-content-evenly">

                                    @if (item.Bathroom != 0)
                                    {
                                        <div class="me-2"><i class="fa-solid fa-hot-tub-person"></i> @item.Bathroom</div>
                                    }

                                    @if (item.Room != 0)
                                    {
                                        <div class="me-2"><i class="fa-solid fa-bed"></i> @item.Room</div>
                                    }
                                    <div class="me-2"><i class="fa-solid fa-building"></i> @(item.Meters)mt</div>
                                </small>
                            </div>
                        </div>
                    </a>
                </div>

            }
        </div> }
    else
    {
        <div class="row mt-5">
            <div class="col-6 offset-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <h2 class="text-center">No hay disponibilidad</h2>
                            <div class="text-center ">
                                <p>No hay propiedades disponibles por el momento</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>